In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv("UK Gender Pay Gap Data - 2017 to 2018.csv")

In [5]:
data.describe()

,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,MaleLowerQuartile,FemaleLowerQuartile,MaleLowerMiddleQuartile,FemaleLowerMiddleQuartile,MaleUpperMiddleQuartile,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile
count,10563.000000,10563.000000,10540.000000,10540.000000,10563.000000,10563.000000,10563.000000,10563.000000,10563.000000,10563.000000,10563.000000,10563.000000,10563.000000,10563.000000
mean,14.339638,11.798438,7.671461,-21.750787,35.395617,33.929244,46.329158,53.670842,50.524718,49.475282,54.874013,45.125987,60.814627,39.185373
std,14.910806,15.842876,833.729072,1400.166499,36.330536,36.014743,24.125857,24.125857,26.088160,26.088160,26.222653,26.222653,24.402135,24.402135
min,-400.000000,-196.500000,-82000.000000,-120695.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.000000,0.700000,0.000000,0.000000,0.800000,0.300000,27.000000,35.700000,29.500000,27.700000,34.000000,21.500000,41.500000,17.150000
50%,13.400000,9.200000,22.000000,5.000000,19.400000,17.200000,44.300000,55.700000,48.300000,51.700000,54.000000,46.000000,62.700000,37.300000
75%,22.900000,21.000000,53.000000,38.000000,73.200000,70.050000,64.300000,73.000000,72.300000,70.500000,78.500000,66.000000,82.850000,58.500000
max,159.000000,121.200000,3848.200000,3848.200000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10563 entries, 0 to 10562
Data columns (total 25 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   EmployerName               10563 non-null  object
 1   Address                    10563 non-null  object
 2   CompanyNumber              9204 non-null   object
 3   SicCodes                   9997 non-null   object
 4   DiffMeanHourlyPercent      10563 non-null  float64
 5   DiffMedianHourlyPercent    10563 non-null  float64
 6   DiffMeanBonusPercent       10540 non-null  float64
 7   DiffMedianBonusPercent     10540 non-null  float64
 8   MaleBonusPercent           10563 non-null  float64
 9   FemaleBonusPercent         10563 non-null  float64
 10  MaleLowerQuartile          10563 non-null  float64
 11  FemaleLowerQuartile        10563 non-null  float64
 12  MaleLowerMiddleQuartile    10563 non-null  float64
 13  FemaleLowerMiddleQuartile  10563 non-null  float64
 14  MaleUpperMiddleQuartile    10563 non-null  float64
 15  FemaleUpperMiddleQuartile  10563 non-null  float64
 16  MaleTopQuartile            10563 non-null  float64
 17  FemaleTopQuartile          10563 non-null  float64
 18  CompanyLinkToGPGInfo       7799 non-null   object
 19  ResponsiblePerson          8886 non-null   object
 20  EmployerSize               10563 non-null  object
 21  CurrentName                10563 non-null  object
 22  SubmittedAfterTheDeadline  10563 non-null  bool
 23  DueDate                    10563 non-null  object
 24  DateSubmitted              10563 non-null  object
dtypes: bool(1), float64(14), object(10)
memory usage: 1.9+ MB